<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907357123753-l3qsmlehur9jqre8s05anftpru1tibgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907357123753-l3qsmlehur9jqre8s05anftpru1tibgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHAhtU6Lz-pHhWp6C_zw6K0xqmsxxwuDs</string>
	<key>GCM_SENDER_ID</key>
	<string>907357123753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yun.Linking</string>
	<key>PROJECT_ID</key>
	<string>linking-32bc1</string>
	<key>STORAGE_BUCKET</key>
	<string>linking-32bc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907357123753:ios:e6a7decd0726aaa15965b8</string>
</dict>
</plist>